* {
  margin: 0;
  padding: 0;
  border: none;
  //color: white;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

ul {
  list-style: none;
}

hr {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  border-style: inset;
  border-width: 1px;
  border-color: white;
}

mark {
  font-weight: bold;
  background: none;
}

.tleft {
  text-align: left;
}

.tright {
  text-align: right;
}

.dotfilling {
  position: relative;
  display: table;
  width: 100%;

  & > div {
    display: table-row;

    span {
      display: table-cell;
      white-space: nowrap;
    }

    span:first-of-type {
      padding-right: .3em;
    }

    span:last-of-type {
      padding-left: .3em;
    }

    span.dotfiller {
      width: 100%;

      span {
        position: absolute;
        left: 0; right: 0;
        height: 78%;

        border-bottom: 1px dashed black;
      }
    }
  }

  //span {
  //  display: inline-block;
  //}
  //
  //span.dotfiller {
  //  position: absolute;
  //  border-bottom: 1px dotted black;
  //  overflow: hidden;
  //  width: 60%;
  //
  //  .fill {
  //    left: 0;
  //    right: 0;
  //    width: 100%;
  //    border-bottom: 1px dotted black;
  //    overflow: hidde;
  //  }
  //}
}

@import "mixins";

// Common animations
@include keyframes("hshake") {
    0% {@include prefix("transform", translate(0, 0));}
    20% {@include prefix("transform", translate(3px, 0));}
    30% {@include prefix("transform", translate(-4px, 0));}
    40% {@include prefix("transform", translate(5px, 0));}
    50% {@include prefix("transform", translate(-6px, 0));}
    60% {@include prefix("transform", translate(8px, 0));}
    70% {@include prefix("transform", translate(-8px, 0));}
    80% {@include prefix("transform", translate(6px, 0));}
    90% {@include prefix("transform", translate(-4px, 0));}
    100% {@include prefix("transform", translate(0, 0));}
}
