{% extends 'base.html' %}

{% block body %}
  <section class="container">
    <header>
      <h1>Evasion Antillaise</h1>
      <h2>La St-Barth</h2>
      <h5 class="up">Marseille - Bords de plage</h5>
      <h5>Tarifs & réservation au 0609142444</h5>
    </header>
  </section>

  <ul class="cb-slideshow">
      <li>
        <span>Image 01</span>
        <div><h3>Bienvenue...</h3></div>
      </li>
      <li>
        <span>Image 02</span>
        <div><h3>...à la St-Barth</h3></div>
      </li>
      <li>
        <span>Image 03</span>
{#        <div><h4>Réservations au 0606060606</h4></div>#}
      </li>
      <li>
        <span>Image 04</span>
{#        <div><h4>Réservations au 0606060606</h4></div>#}
      </li>
      <li>
        <span>Image 05</span>
{#        <div><h4>Réservations au 0606060606</h4></div>#}
      </li>
      <li>
        <span>Image 06</span>
{#        <div><h4>Réservations au 0606060606</h4></div>#}
      </li>
  </ul>
{% endblock %}