{% extends 'web/base.html' %}
{% load static %}

{% block body %}
  <section class="container anim-fadebg">
    <header>
      <h1 class="anim-fade">Évasion Antillaise</h1>
      <h2 class="anim-fade">Suite St-Barth</h2>
    </header>
    <nav>
      <a class="fb">
        <img src="{% static "web/img/fb_logo.png" %}" alt="Facebook" title="Facebook Évasion Antillaise" />
      </a>
      <ul>
        <li data-index="1">la suite</li><!--Margin fighting
     --><li data-index="2">tarifs</li><!--Margin fighting
     --><li data-index="3">contact</li><!--Margin fighting
   --></ul>
    </nav>
  </section>
  <div class="items">
    <div data-index="1">
      <div class="filler"></div>
      <h3>La suite St-Barth</h3>
      <p>Venez découvrir notre splendide <mark>chambre avec jacuzzi</mark>, préparée spécialement pour vos
    rencontres les plus tendres et <mark>romantiques</mark>.</p>
      <br>
      <p>Idéalement située à quelques mètres de la plage, dans le 8ème arrondissement de
        <em><mark>Marseille</mark></em> près du <em>David</em>,
        la suite St-Barth saura immortaliser vos évasions en amoureux, déclarations d'amour,
        nuits de noces, <mark>anniversaires de mariage</mark>...</p>
      <br>
      <p>La chambre de 45m² est équipée d'une luxueuse <mark>douche italienne</mark>, d'un grand écran LCD encastré,
        d'un <mark>jacuzzi</mark> privé avec radio intégrée, et tout le nécessaire pour une parenthèse en toute tranquilité
        aux saveurs des îles.</p>
      <br>
      <div class="gallery">
        <h4>
          <a rel="stbarth" href="{% static "web/img/v1/1.jpg" %}"
             data-tb="{% static "web/img/v1/1_tb.jpg" %}">
            Galerie photo
          </a>
        </h4>
        <em>
          by <a href="http://andricardin.com" target="_blank">andric cardin</a>
        </em>
        {% load tags %}
        <div style="display: none;">
          {% for i in 12|get_tworange %}
          <a rel="stbarth" href="{% static_fmt "web/img/v1/%s.jpg" i %}"
             data-tb="{% static_fmt "web/img/v1/%s_tb.jpg" i %}"></a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div data-index="2">
      <div class="filler"></div>
      <h3>Nos tarifs</h3>
      <div class='price dotfilling'>
        <div>
          <span>1 nuit en semaine</span>
          <span class="dotfiller"><span></span></span>
          <span>€</span>
        </div>
      </div>
      <div class='price dotfilling'>
        <div>
          <span>1 nuit en week-end</span>
          <span class="dotfiller"><span></span></span>
          <span>€</span>
        </div>
      </div>
      <div class='price dotfilling'>
        <div>
          <span>2 nuits en semaine</span>
          <span class="dotfiller"><span></span></span>
          <span>€</span>
        </div>
      </div>
      <div class='prices dotfilling'>
        <div>
          <span>Semaine complète</span>
          <span class="dotfiller"><span></span></span>
          <span>€</span>
        </div>
      </div>
      <div class='prices dotfilling'>
        <div>
          <span>Coffret <em>"Infiniment Toi"</em></span>
          <span class="dotfiller"><span></span></span>
          <span>€</span>
        </div>
      </div>
      <br>
      <p>
        Le coffret <em>Infiniment Toi</em> est composé d'une bouteille de <mark>champagne</mark>
        <em>Mumm Cordon Rouge</em>, des pétales de roses et <mark>bougies</mark>, ainsi qu'une
        sélection de fruits et bonbons pour vos plaisirs gourmands.
        <br><br>
        Notre restaurant familial aux saveurs de la mer est également à votre disposition,
        repas à déguster au lit ou en terrasse.
        <br><br>
        Rendez-vous sur notre page Facebook,
        pour profiter de promotions de dernière minute !
        <br><br>
        Pour le <mark>nouvel an</mark> et la <mark>St-Valentin</mark>, nous contacter.
      </p>
    </div>
    <div data-index="3" class="contact">
      <div class="filler"></div>
      <h3>Contactez-nous</h3>
      <hr class="phone-contact">
      <form>
        <div class="row">
          <label for="email">Mail*</label>
          <input disabled id="email" name="email" type="text"/><br>
        </div>

        <div class="row">
          <label for="firstname">Prénom*</label>
          <input disabled id="firstname" name="firstname" type="text"/><br>
        </div>

        <div class="row">
          <label for="lastname">Nom</label>
          <input disabled id="lastname" name="lastname" type="text"/><br>
        </div>

        <div class="row">
          <label for="phone">Téléphone</label>
          <input disabled id="phone" name="phone" type="text"/><br>
        </div>

        <div class="row">
          <label for="date">Date</label>
          <input disabled id="date" name="date" type="text" class="datepicker" size="10"/><br>
        </div>

        <div class="row">
          <label for="message">Message</label>
          <textarea disabled id="message" name="message" rows="6" placeholder="Pour toute question ou information complémentaire"></textarea><br>
        </div>
      </form>
    </div>
  </div>

  <ul class="fancy">
    <li>
      <span></span>
      <div>
        <h3>Bienvenue...</h3>
      </div>
    </li>
    <li>
      <span></span>
      <div><h3>...à la suite St-Barth</h3></div>
    </li>
    <li>
      <span></span>
      <div>
        <h3></h3>
      </div>
    </li>
    <li>
      <span></span>
      <div>
        <h3></h3>
      </div>
    </li>
    <li>
      <span></span>
      <div>
        <h3></h3>
      </div>
    </li>
    <li>
      <span></span>
      <div>
        <h3></h3>
      </div>
    </li>
  </ul>
{% endblock %}
