{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="fr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="fr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="fr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="fr"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="fr"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta lang="fr">
  <meta name="keywords" content="chambre, charme, jacuzzi, détente, repos, marseille, hôtel">
  <meta name="description"
     content="plz," />

  <!-- Open Graph data -->
  <meta property="og:title" content="Évasion Antillaise" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTNP_rF2iO69V8VDYzp6AMuy2-Tl8g7oA1YMXAiCe_LBKezC2AHA" />
  <meta property="og:description"
     content="do not come" />

  <title>jdid.co / evasion</title>

  {# GoogleFonts #}
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>

{% if DEBUG %}
  <link rel="stylesheet" type="text/css" href="{% static "web/min/evasion.3.dev.min.css" %}" />
{% else %}
  <link rel="stylesheet" type="text/css" href="{% static "web/min/evasion.3.min.css" %}" />
{% endif %}
  <style type"text/css">
    #jdidback img {
      opacity: .45;
      max-width: 3%;
      position: fixed;
      left: 30px;
      top: 28px;
      z-index: 9999;
    }
    #jdidback img:hover {
      opacity: 1;
    }
  </style>

  {% block posthead %}{% endblock %}
</head>


<body>
  <a title="back to /works/" id="jdidback" href="/works/">
    <img src="/img/left.png" alt="back" />
  </a>
  {% block body %}{% endblock %}

{% if DEBUG %}
  <script src="{% static "web/min/evasion.2.dev.min.js" %}"></script>
{% else %}
  <script src="{% static "web/min/evasion.2.min.js" %}"></script>
{% endif %}
{% block script %}{% endblock %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36455896-8', 'auto');
    ga('send', 'pageview');

 </script>
</body>
</html>
